body, html, h1, h2, h3, h4, h5, h6, ul, li, img, dt, dl, dd, div, p {
    margin: 0;
    padding: 0;
}
a:link,
a:hover {
    color: #666666;
    text-decoration:none;
}
.clearfix::after {
    display: block;
    content: "";
    width: 0;
    visibility: hidden;
    clear: both;
}
ul, ol, li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
em, i {
    font-style: normal;
}
img {
    border: none;
}
body {
    background: #fff;
    color: #666666;
    font-size: 14px;
    font-family: arial;
}
body, html {
    background: #e2e2e2;
    width: 100%;
    height: 100%;
    font-family: Helvetica, sans-serif;
}